@import url('../node_modules/reset-css/sass/_reset.scss');
@import url('../node_modules/normalize.css/normalize.css');
@import url('./fonts/h-x/db_helvethaica_x.css');

* {
  box-sizing: border-box;
}

body {
  font-family: 'db_helvethaica_x', sans-serif;
  font-size: 18px;
  color: #121212;
  background-color: #fbfbfb;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  h1 {
    font-size: 24px;
    margin: 0;
  }
}
